:root {
    --acordeon-hover-color: #55569E;
}

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid #FFF;
    border-radius: 1rem;
    transition: .25s;
    margin-bottom: 1rem;
}

.acordeon:hover {
    background-color: var(--acordeon-hover-color);
    border-color: var(--acordeon-hover-color);
}

.acordeon .acordeon__trigger {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    font-weight: 700;
    color: #FFF;
}

.acordeon .acordeon__trigger::after {
    content: '';
    display: inline-block;
    background-image: url(/assets/img/icons/up-arrow.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1.5rem;
    height: 1rem;
    transition: .25s;
}

.acordeon.open {
    background-color: var(--acordeon-hover-color);
    border-color: var(--acordeon-hover-color);
}

.acordeon.open .acordeon__trigger::after {
    transform: rotate(-180deg);
}

.acordeon .acordeon__trigger:hover {
    cursor: pointer;
}

.acordeon .content {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: opacity .35s ease-in-out;
}

.acordeon.open .content {
    display: block;
    max-height: 100%;
    opacity: 1;
    padding: 1rem 2rem 1rem 2rem;
}