

.acordeon__experience {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 2rem;
}

.acordeon__experience .acordeon__experience-title {
    font-size: 1.15rem;
    font-weight: 800;
    padding-bottom: 1rem;
}

.acordeon__experience .acordeon__experience-period {
    display: flex;
    gap: .5rem;
}

.acordeon__experience .acordeon__experience-p{
    margin-top: .5rem;
}

.acordeon__experience .acordeon__experience-period,
.acordeon__experience .acordeon__experience-p {
    font-size: 1rem;
    font-weight: 400;
}