.acordeon .acordeon__portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.acordeon .acordeon__portfolio li {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 0;
}

.acordeon__portfolio .acordeon__portfolio-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    font-weight: 800;
    font-size: 1.15rem;
    padding-bottom: .5rem;
}

.acordeon__portfolio .acordeon__portfolio-link {
    font-weight: 400;
}

.acordeon__portfolio .acordeon__portfolio-link:hover {
    text-decoration: underline;
}