.acordeon__skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2rem;
}

.acordeon__skills .acordeon__skills-icons {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem;
}


.acordeon__skills .acordeon__skills-title{
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}

.acordeon__skills .acordeon__skills-list {
    display: flex;
    flex-wrap: wrap;
}

.acordeon__skills .acordeon__skills-list li {
    margin-left: 1.2rem;
    margin-bottom: .35rem;
    list-style: outside;
}


@media only screen and (min-width: 768px){
    .acordeon__skills{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .acordeon__skills .acordeon__skills-list li {
        margin-left: 2rem;
    }

    .acordeon__skills .acordeon__skills-icons {
        justify-content: center;
        gap: 1.5rem;
        width: 50%;
    }
}